@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}


<h1>Tài khoản không hợp lệ</h1>
<a class="border-danger" style="accent-color:red" asp-area="Admin" asp-controller="Home" asp-action="Index">Back to Home</a>