@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}


<h1>Tài khoản không hợp lệ</h1>
<a class="border-danger" style="text-color:red" asp-area="Admin" asp-controller="Authen" asp-action="LoginGooglePage">Back to Home</a>